/* Özel stil dosyanız (custom.css) */
.my-wire-one {
    font-family: 'Wire One', sans-serif;
    font-size: 40px;
    font-weight: normal; /* veya istediğiniz kalınlık değeri */
    /* İstediğiniz diğer özel stilleri ekleyebilirsiniz */
  }
  